/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++                                                                             ++
++         #######                          #####                              ++
++         #        #    #  ######  #####  #     #  ######  #    #             ++
++         #        ##  ##  #       #    # #        #       ##   #             ++
++         #####    # ## #  #####   #    # #  ####  #####   # #  #             ++
++         #        #    #  #       #####  #     #  #       #  # #             ++
++         #        #    #  #       #   #  #     #  #       #   ##             ++
++         #######  #    #  ######  #    #  #####   ######  #    #             ++
++                                                                             ++
++         EmerGen Emergent Behavior modeling                                  ++
++                                                                             ++
**         (c) Copyright 2018, Jonathan D. Lettvin                             ++
**             All rights reserved.                                            **
**                                                                             **
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 #####   #####   #####   #####
#     # #     # #     # #     #
#       #       #             #
#        #####   #####   #####
#             #       #       #
#     # #     # #     # #     #
 #####   #####   #####   #####
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 #####  ####### #     # #       #######
#     #    #     #   #  #       #
#          #      # #   #       #
 #####     #       #    #       #####
      #    #       #    #       #
#     #    #       #    #       #
 #####     #       #    ####### #######
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
	#######    #     #####
	   #      # #   #     #
	   #     #   #  #
	   #    #     # #  ####
	   #    ####### #     #
	   #    #     # #     #
	   #    #     #  #####
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
body {
	background    : #333300;
	margin        : 1px;
	padding       : 0;
}
h1, h2 {
	margin        : 0;
	padding       : 0;
	color         : white;
}
h1 {
	text-align    : center;
	font-size     : 30px;
}
textarea {
	width         : 100%;
	max-width     : 100%;
	height        : 200px;
	max-height    : 100%;
}
canvas {
	padding       : 0px auto;
	margin        : 10px;
	border        : 2px groove #3377bb;
	margin-left   : auto;
	margin-right  : auto;
	display       : block;
	background    : #7f7f7f;
	height        : 501px;
	width         : 501px;
}
table {
	background    : black;
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
	  ###   ######
	   #    #     #
	   #    #     #
	   #    #     #
	   #    #     #
	   #    #     #
	  ###   ######
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
#visualization {
	background    : url("grid.png");
}
#footer {
	clear         : both;
	border        : 1px groove #aaaaaa;
	background    : blue;
	color         : White;
	padding       : 0;
	text-align    : center;
	vertical-align: middle;
	line-height   : normal;
	margin        : 0;
	position      : fixed;
	bottom        : 0px;
	width         : 100%;
}
#source {
	width         : 100%;
	height        : 256px;
}
#problem {
	width         : 100%;
	height        : 20px;
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
	 #####  #          #     #####   #####
	#     # #         # #   #     # #     #
	#       #        #   #  #       #
	#       #       #     #  #####   #####
	#       #       #######       #       #
	#     # #       #     # #     # #     #
	 #####  ####### #     #  #####   #####
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.RGBR { color: #ff7777; }
.RGBG { color: #77ff77; }
.RGBB { color: #7777ff; }
/* --------------------------------------------------------------------------- */

